<div class="main">
  <div class="container">
    <div class="signup">
      <div class="signup-form">
        <div class="signup-header">
          <h2>新規アカウント作成</h2>
        </div>
        <div class="signup-body container-fluid">
          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field row">
              <div class="col-md-6 form-item"><%= f.label :email %></div>
              <div class="col-md-6 form-item"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください" %></div>
            </div>

            <div class="field row">
              <div class="col-md-6 form-item"><%= f.label :password %> (6字以上)</div>
              <div class="col-md-6 form-item"><%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "パスワードを入力してください" %></div>
            </div>


            <div class="field row">
              <div class="col-md-6 form-item"><%= f.label :password_confirmation %></div>
              <div class="col-md-6 form-item"><%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", placeholder: "確認用パスワードを入力してください" %></div>
            </div>

            <div class="row">
              <div class="form-btn"><%= f.submit "登録する", class: "btn-signup btn btn-primary" %></div>
            </div>
          <% end %>
        </div>
        <div class="signup-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
