<header>
  <div class="container">
    <div class="header-logo">
      <%= link_to root_path do %>
        <h1><span>M</span>ammiiiiii</h1>
        <p>( マミー )</p>
      <% end %>
    </div>
    <div class="header-nav">
      <div class="toggle-menu-button"></div>
        <ul class="header-list">
          <% if user_signed_in? %>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            <li>
              <% if current_user.name? %>
                <%= link_to current_user.name, user_path(id: current_user) %>
              <% else %>
                <%= link_to "ゲスト", user_path(id: current_user) %>
              <% end %>
            </li>
            <% if current_user.image? %>
              <div class="user-icon">
                <%= image_tag current_user.image.url %>
              </div>
            <% else %>
              <div class="user-icon">
                <%= image_tag "default.png" %>
              </div>
            <% end %>
          <% else %>
            <li><%= link_to "signup", new_user_registration_path %></li>
            <li><%= link_to "login", new_user_session_path %></li>
            <li><%= link_to "guest", users_guest_sign_in_path, method: :post %></li>
          <% end %>
        </ul>
    </div>
  </div>
</header>
