<header>
  <div class="container">
    <div class="header-logo">
      <%= link_to root_path do %>
        <h1><span>M</span>ammiiiiii</h1>
        <p>( マミー )</p>
      <% end %>
    </div>
    <div class="header-nav">
      <div class="toggle-menu-button"></div>
        <ul class="header-list">
          <% if user_signed_in? %>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to '#ユーザー名', "#" %></li>
          <% else %>
            <li><%= link_to "signup", new_user_registration_path %></li>
            <li><%= link_to "login", new_user_session_path %></li>
            <li><%= link_to "guest", users_guest_sign_in_path, method: :post %></li>
          <% end %>
        </ul>
    </div>
  </div>
</header>
