<header>
  <div class="container">
    <div class="header-logo">
      <%= link_to root_path do %>
        <h1><span>M</span>ammiiiiii</h1>
        <p>( マミー )</p>
      <% end %>
    </div>
    <div class="header-nav">
      <div class="toggle-menu-button"></div>
        <ul class="header-list">
          <li><%= link_to 'ログアウト', "#" %></li>
          <li><%= link_to '#ユーザー名', "#" %></li>
          <li><%= link_to "新規登録", "#" %></li>
          <li><%= link_to "ログイン", "#" %></li>
          <li><%= link_to "ゲストログイン", "#" %></li>
        </ul>
    </div>
  </div>
</header>
